.header{
	margin: 20px 20px 20px 20px;
	text-align: center;
	font-size: 170%;
	font-weight: lighter;
}

body {
	background-image: url("car.jpg");
	background-size: 100%;
	padding-top: 20px;
	color: white;
}

.main{
	margin-left: -30;
}
.mainBody{
 	display: block;
 	text-align: center;
  	margin-right: auto;
}

.city{
	display: block;
	position: absolute;
	text-align: center;
	width: 100%;
}
.autoComplete{
	text-align: center;
	margin: auto;
	width: 30%;
}
.trivia{
	margin-top: 300px;
}
.questions{
	display: none;
	opacity: 0;
	
  	margin-right: auto;
	text-align: center;
	position: absolute;
	width: 100%;
}

.question.animate {
	transition: 0.5s all linear;
}

.questionCurrent {
	position: relative;
	opacity: 1;
	left: 0;
}

.questionCurrent.animate {
	left: -50%;
	opacity: 0;
}

.questionTrans{
	text-align: center;
	margin: auto;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 50%;
	opacity: 0;
}

.questionTrans.animate {
	display: block;
	left: 0;
	opacity: 1;
}

.success{
	display: none;
	opacity: 0;
}

.fail{
	display: none;
	opacity: 0;
}
.cityText{
	margin: 20px 20px 20px 20px;
	text-align: center;
}
.nextButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 100px;
  z-index: 10000;
}

.yesButton, .noButton{
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  z-index: 10000;
}

.yesButton:hover, .noButton:hover{
	background-color: #f6673c;
}

.nextButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nextButton span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -35px;
  transition: 0.5s;
}

.nextButton:hover span {
  padding-right: 40px;
}

.nextButton:hover span:after {
  opacity: 1;
  right: 0;
}